{% extends "base/_base01_jinja.html" %}



{% block content %}

<!-----------------------------------------[ main container ]--------------------------------------------------->
<div class="container p-1">

    <!--- (i1) zone / title and Sales Project ------------>
    <h1>{{ page_title }}</h1>
    {% if (are_general_data is defined) and (sales_project_pk != 'unknown') %}
        <h5 id="sales_project_id">... project loading ...</h5>
    {% else %}
        <h5 id="sales_project_id">unknown Sales Project</h5>
    {% endif %}


    <!-- ARE Overview area -->
    <br>
    <h5>Summary of Sales Project Scores</h5>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="w-25">Business domain</th>
                <th class="w-25">Score</th>
                <th class="w-50">Progress</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>General data</td>
                <td>{{ general_data_summary_info.score.crt_score }} / {{ general_data_summary_info.score.max_score }}</td> <!-- score -->
                <td> <!-- progress bar -->
                    <div class="progress">
                        {% if general_data_summary_info.score.progress_percent|int >= 100 %}
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ general_data_summary_info.score.progress_percent }}%">{{ general_data_summary_info.score.progress_percent }}%</div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: {{ general_data_summary_info.score.progress_percent }}%">{{ general_data_summary_info.score.progress_percent }}%</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Evaluation</td>
                <td>{{ evaluation_summary_info.score.crt_score }} / {{ evaluation_summary_info.score.max_score }}</td> <!-- score -->
                <td> <!-- progress bar -->
                    <div class="progress">
                        {% if evaluation_summary_info.score.progress_percent|int >= 100 %}
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ evaluation_summary_info.score.progress_percent }}%">{{ evaluation_summary_info.score.progress_percent }}%</div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: {{ evaluation_summary_info.score.progress_percent }}%">{{ evaluation_summary_info.score.progress_percent }}%</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Organization map</td>
                <td>{{ org_map_summary_info.score.crt_score }} / {{ org_map_summary_info.score.max_score }}</td> <!-- score -->
                <td> <!-- progress bar -->
                    <div class="progress">
                        {% if org_map_summary_info.score.progress_percent|int >= 100 %}
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ org_map_summary_info.score.progress_percent }}%">{{ org_map_summary_info.score.progress_percent }}%</div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: {{ org_map_summary_info.score.progress_percent }}%">{{ org_map_summary_info.score.progress_percent }}%</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td>{{ revenue_summary_info.score.crt_score }} / {{ revenue_summary_info.score.max_score }}</td> <!-- score -->
                <td> <!-- progress bar -->
                    <div class="progress">
                        {% if revenue_summary_info.score.progress_percent|int >= 100 %}
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ revenue_summary_info.score.progress_percent }}%">{{ revenue_summary_info.score.progress_percent }}%</div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: {{ revenue_summary_info.score.progress_percent }}%">{{ revenue_summary_info.score.progress_percent }}%</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Relationships approach</td>
                <td>{{ relationships_summary_info.score.crt_score }} / {{ relationships_summary_info.score.max_score }}</td> <!-- score -->
                <td> <!-- progress bar -->
                    <div class="progress">
                        {% if relationships_summary_info.score.progress_percent|int >= 100 %}
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ relationships_summary_info.score.progress_percent }}%">{{ relationships_summary_info.score.progress_percent }}%</div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: {{ relationships_summary_info.score.progress_percent }}%">{{ relationships_summary_info.score.progress_percent }}%</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Solution</td>
                <td>{{ solution_summary_info.score.crt_score }} / {{ solution_summary_info.score.max_score }}</td> <!-- score -->
                <td> <!-- progress bar -->
                    <div class="progress">
                        {% if solution_summary_info.score.progress_percent|int >= 100 %}
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ solution_summary_info.score.progress_percent }}%">{{ solution_summary_info.score.progress_percent }}%</div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: {{ solution_summary_info.score.progress_percent }}%">{{ solution_summary_info.score.progress_percent }}%</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Decision criteria</td>
                <td>{{ decision_criteria_summary_info.score.crt_score }} / {{ decision_criteria_summary_info.score.max_score }}</td> <!-- score -->
                <td> <!-- progress bar -->
                    <div class="progress">
                    {% if decision_criteria_summary_info.score.progress_percent|int >= 100 %}
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ decision_criteria_summary_info.score.progress_percent }}%">{{ decision_criteria_summary_info.score.progress_percent }}%</div>
                    {% else %}
                        <div class="progress-bar" role="progressbar" style="width: {{ decision_criteria_summary_info.score.progress_percent }}%">{{ decision_criteria_summary_info.score.progress_percent }}%</div>
                    {% endif %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>



    <!-- end of ARE Detailed Status area -->
    <br>
    <h5>Detailed Status of Sales Project</h5>
    <div class="row"> <!-- ARE detailed navigation for each business domain area -->

        <!--- navigation area of ARE  ------------>
        <div class="col-2 border">
            <ul id="are_nav_area" class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#are_general_data_tab">General data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#are_evaluation_tab">Evaluation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#are_org_map_tab">Organization map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#are_revenue_tab">Revenue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#are_relationships_tab">Relationships approach</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#are_solution_tab">Solution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#are_decision_criteria_tab">Decision criteria</a>
                </li>
            </ul>
        </div>

        <!--- content of ARE business domains -------------------------------------->
        <div class="col">
            <div id="are_content_area" class="tab-content px-2">
                <!-------- ADS business domain: General data -->
                <div id="are_general_data_tab" class="tab-pane fade in show active">
                    <h6 class="float-right border-bottom py-2">General data</h6><br>
                    {{ are_general_data|safe }}
                </div>
                <!-------- ADS busines domain: Evaluation -->
                <div id="are_evaluation_tab" class="tab-pane fade">
                    <h6 class="float-right border-bottom py-2">Evaluation</h6><br>
                    {{ are_evaluation|safe }}
                </div>
                <!-------- ADS busines domain: ----- Organization map -->
                <div id="are_org_map_tab" class="tab-pane fade">
                    <h6 class="float-right border-bottom py-2">Organization map</h6><br>
                    {{ are_org_map|safe }}
                </div>
                <!-------- ADS busines domain: Revenue -->
                <div id="are_revenue_tab" class="tab-pane fade">
                    <h6 class="float-right border-bottom py-2">Revenue</h6><br>
                    {{ are_revenue|safe }}
                </div>
                <!-------- ADS busines domain: ----- Relationships approach -->
                <div id="are_relationships_tab" class="tab-pane fade">
                    <h6 class="float-right border-bottom py-2">Relationships approach</h6><br>
                    {{ are_relationships|safe }}
                </div>
                <!-------- ADS busines domain: ----- Solution -->
                <div id="are_solution_tab" class="tab-pane fade">
                    <h6 class="float-right border-bottom py-2">Solution</h6><br>
                    {{ are_solution|safe }}
                </div>
                <!-------- ADS busines domain: ----- Decision criteria -->
                <div id="are_decision_criteria_tab" class="tab-pane fade">
                    <h6 class="float-right border-bottom py-2">Decision criteria</h6><br>
                    {{ are_decision_criteria|safe }}
                </div>
            </div>
        </div>

    </div> <!--//? END of ARE principal navigation and content area -->



</div>

{% endblock %}






{% block body_level_custom_scripts %}

<script>
    //*--------------------------------------------- INITIALIZERS & GLOBAL DATA --------------------------------------------------
    //
    //*--- API routes
    let sales_project_pk = '{{ sales_project_pk }}';
    let sales_project_api_get_route = '/api/salesproject/';
    //
    let sales_project_info = {
        code: '',
        _disabled: true
    };
    //

    //----------------------------------------------------------------------------------------
    //*--- do as first steps after page loading
    //
    $(document).ready(function () {
        init_page();
    })



    //----------------------------------------------------------------------------------------
    //*--- initailize the page (issue 230117piu_a)
    //
    function init_page() {
        // mark project as loading
        $('#sales_project_id').text('... project loading ...');
        //
        // suppose Sales Project as not specified up to "detect" its pk
        sales_project_info = {
            code: '',
            _disabled: true
        };
        //!#FIXME_possible_obsolete_as_no_edit_in_page page_dirty = false;
        //
        // call to initialize data as required
        get_sales_project(sales_project_pk);
        if (sales_project_info._disabled) {
            // process stops here, project being non-existent or disabled
            return false;
        }
        //!#FIXME next line where used to oad are data - please see how is needed for ARE and update it
        //!#FIXME_update_for_are get_are_all_data(sales_project_pk);
        //
        // mark page as clean //!#FIXME_possible_obsolete_as_no_edit_in_page 
        //!#FIXME_possible_obsolete_as_no_edit_in_page mark_page_dirty(false);
    }




    //
    //*--- get Sales Project data
    //
    function get_sales_project(sales_project_pk) {
        /* --- load requeste Sales Project data (code and if is enabled)
        --- */
        let ret_value = $.ajax({
            async: false,
            url: sales_project_api_get_route + sales_project_pk,
            success: function(result) {
                // if length of data is null or is undefined return as sales project unknown
                if ((result.data === undefined) || (result.data.length <= 0)) {
                    sales_project_info = {
                        code: '',
                        _disabled: true
                    };
                    // HERE NO PROJECT WAS SPECIFIED, so init and empty page in case if client browser is "moving too slow"
                    $('#sales_project_id').text('unknown project');
                    // hide are_nav_area, are_tabs_area and are_actions_area areas ...
                    $('#are_nav_area').hide();
                    $('#are_content_area').hide();
                    $('#are_actions_area').hide();
                    // alert user ref redirecting and user will be redirected to page /crud_admin/salesproject
                    alert('A sales project for requested PK was not found. YOU WILL BE REDIRECTED TO CHOOSE ONE.');
                    window.location.replace('/crud_admin/salesproject');
                    return sales_project_info;
                }
                // set page zone (i1) - title and Sales Project area ONLY if sales project is enabled
                sales_project_info.code = result.data[0].code;
                sales_project_info._disabled = result.data[0]._disabled;
                if (sales_project_info._disabled == false) {
                    $('#sales_project_id').text('for ' + sales_project_info.code + ' project');
                    // show are_nav_area, are_tabs_area and are_actions_area areas ...
                    $('#are_nav_area').show();
                    $('#are_content_area').show();
                    $('#are_actions_area').show();
                } else {
                    sales_project_info = {
                        code: '',
                        _disabled: true
                    };
                    $('#sales_project_id').text('project disabled');
                    // hide are_nav_area, are_tabs_area and are_actions_area areas ...
                    $('#are_nav_area').hide();
                    $('#are_content_area').hide();
                    $('#are_actions_area').hide();
                }
                return sales_project_info;
            },
            error: function(result) {
                snackbar('info', 'A sales project for requested PK was not found', 8000);
                sales_project_info = {
                    code: '',
                    _disabled: true
                };
                // set page zone (i1) - title and Sales Project area
                $('#sales_project_id').text('unknown project');
                return sales_project_info;
            }
        });
        return ret_value;
    }


    //
    //*--- convert UTC date string to local time zone
    //
    function convertUTCDateToLocalDate(me, utc_date) {
        let date_utcDate = new Date(utc_date); // convert string to date
        //
        let newDate = new Date(date_utcDate.getTime() + date_utcDate.getTimezoneOffset() * 60 * 1000);
        //
        var offset = date_utcDate.getTimezoneOffset() / 60;
        var hours = date_utcDate.getHours();
        newDate.setHours(hours - offset);
        newDate = newDate.toString();
        newDate = 'Last updated on: ' + newDate; //prefix with name of info
        // set 'me' object to newDate
        $(me).text(newDate);
        return newDate;
}












</script>


{% endblock %}






