
<!-- THIS CSS IS AT head LEVEL, for body level there is another one -->


<!----- Bootstrap-4 init -->
<link href="{{ url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap.min.css') }}" rel="stylesheet">


<!----- jQuery DataTable Bootstrap-4 support -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-datatables-1.10.25/dataTables.bootstrap4.css') }}">


<!----- RENware COSANA CSS -->
<link href="{{ url_for('static', filename='css/cosana.css') }}" rel="stylesheet">




<!-- almost each component have a representation at body level CSS too -->

