
<!-- THIS CSS IS AT body LEVEL, for head level there is another one -->

<!-- almost each component have a representation at head level too -->

<!-- Bootstrap-4 CSS -->
<script src="{{ url_for('static', filename='jquery-3.5.1-dist/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js') }}"></script>

<!-- jQuery DataTable Bootstrap-4 support -->
<script src="{{ url_for('static', filename='jquery-3.6.0-dist/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-datatables-1.10.25/jquery.dataTables.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-datatables-1.10.25/dataTables.bootstrap4.js') }}"></script>
