/* SALIS TERRA specific CSS
 =================================*/

.color-cosana-1 {
    color: #50c878;
    background-color: #000000;
}

.color-cosana-2 {
    color: #ffffff;
    background-color: #bf5d57;
}

.color-cosana-3 {
    color: #d976d0;
    background-color: #000000;
}

.color-cosana-4 {
    color: #f38eea;
    background-color: #000000;
}

.color-cosana-5 {
    color: #32af61;
    background-color: #000000;
}

.color-cosana-6 {
    color: #02964b;
    background-color: #000000;
}

.color-cosana-7 {
    color: #ffffff;
    background-color: #007e36;
}

